<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zrq.test.point.demo">

    <application>
        <activity
            android:name=".activity.MyTestFragmentDetailsActivity"
            android:label="@string/test_fragment_details_label"
            android:screenOrientation="portrait" />
    </application>

</manifest>