<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".list.TestListActivity"
            android:exported="true"
            android:icon="@mipmap/test_ic_launcher"
            android:label="@string/test_list_label"
            android:roundIcon="@mipmap/test_ic_launcher_round"
            android:taskAffinity="com.zrq.test.point.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".details.TestFragmentDetailsActivity"
            android:label="@string/test_fragment_details_label" />

        <provider
            android:name="com.zrq.test.point.init.InitContentProvider"
            android:authorities="${applicationId}.test-point-init"
            android:exported="false" />
    </application>
</manifest>